In [1]:
import numpy as np # arithemetic operation
import pandas as pd # data manipulation
import requests # getting access to the webpage
from bs4 import BeautifulSoup as bs # parsing the data extracted from web page
import selenium #

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import Chrome
driver_path= "C:\\Users\\USER\\OneDrive\\Desktop\\selenium\\chromedriver.exe"
opt = Options()
ser =Service(driver_path)
driver = Chrome(options=opt,service=ser)

In [2]:
url= 'https://www.aliexpress.com/w/wholesale-handbag.html?spm=a2g0o.home.search.0'
driver.get(url)
html= driver.page_source

In [ ]:
sp=bs(html)

In [ ]:
sp

In [68]:
single=sp.find('div',class_='multi--content--11nFIBL')
single

<div class="multi--content--11nFIBL"><div class="multi--title--G7dOCj3" title="Women's Luxury Shoulder Bag Classic Color Block Folding Bag Waterproof Dumpling Handbag"><h3 class="multi--titleText--nXeOvyr">Women's Luxury Shoulder Bag Classic Color Block Folding Bag Waterproof Dumpling Handbag<!-- --> </h3></div><div class="multi--tradeContainer--3TqP9qf"><span class="multi--trade--Ktbl2jB">5 sold</span></div><div class="multi--price--1okBCly"><div class="multi--price-sale--U-S0jtj"><span style="font-size:12px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">NGN</span><span style="font-size:24px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">26</span><span style="font-size:12px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">,</span><span style="font-size:24px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">549</span><span style="font-size:12px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">.</span><span style="font-size:12px;currency-symbol:NGN;show-decimal:true;decimal_point:.;symbol_position:left;comma_style:,">72</span></div><div class="multi--price-original--1zEQqOK"><span style="text-decoration:line-through;color:#999999">NGN26,549.72</span></div></div><div class="multi--dealContainer--T8SnTim"><img aria-hidden="true" class="tag--imgStyle--1lYatsQ" dir="" height="16" src="https://ae01.alicdn.com/kf/Sb443ba1232114bd0a2386b3f15950b86q/42x60.png" width="11.2"/><span class="tag--textStyle--3dc7wLU" style="color:#FD384F;position:2" title="Drops to NGN25,803.17">Drops to NGN25,803.17</span></div><div class="multi--serviceContainer--3vRdzWN"><img aria-hidden="true" class="tag--imgStyle--1lYatsQ" dir="" height="16" src="https://ae01.alicdn.com/kf/S1887a285b60743859ac7bdbfca5e0896Z/154x64.png" width="38.5"/><span class="tag--text--1BSEXVh tag--textStyle--3dc7wLU multi--serviceStyle--1Z6RxQ4" style="position:4;color:#191919;row_cnt:1" title="Free shipping over NGN16,279.84">Free shipping over NGN16,279.84</span></div><div class="cards--placeHolder--3WSD6sc"></div><span class="cards--store--3GyJcot"><a class="cards--storeLink--XkKUQFS" href="//www.aliexpress.com/store/1104103837" role="" target="_blank">Shop1104103837 Store</a></span></div>

In [69]:
product_name=single.find('h3',class_='multi--titleText--nXeOvyr').text
product_name

"Women's Luxury Shoulder Bag Classic Color Block Folding Bag Waterproof Dumpling Handbag "

In [70]:
product_price=single.find('div',class_='multi--price-sale--U-S0jtj').text
product_price

'NGN26,549.72'

In [72]:
num_ppl_bought=single.find('span',class_='multi--trade--Ktbl2jB').text
num_ppl_bought

'5 sold'

In [73]:
old_price=single.find('div', class_='multi--price-original--1zEQqOK').text
old_price

'NGN26,549.72'

In [74]:
sales=single.find('span', class_='tag--textStyle--3dc7wLU').text
sales

'Drops to NGN25,803.17'

In [75]:
dic = {'Bag_name':[], 'Bag_price':[], 'Bag_old_price':[],'Number_of_people_bought':[],
      'Dropped price':[]}
dic['Bag_name'].append(product_name)
dic['Bag_price'].append(product_price)
dic['Bag_old_price'].append(old_price)
dic['Dropped price'].append(sales)
dic['Number_of_people_bought'].append(num_ppl_bought)


info=pd.DataFrame(dic,index=[0])
info

,Bag_name,Bag_price,Bag_old_price,Number_of_people_bought,Dropped price
0,Women's Luxury Shoulder Bag Classic Color Bloc...,"NGN26,549.72","NGN26,549.72",5 sold,"Drops to NGN25,803.17"

In [77]:
dic = {'Bag_name':[], 'Bag_price':[], 'Bag_old_price':[], 'Dropped_price':[],'Number_of_people_bought':[],}
all_product= sp.findAll('div',class_='multi--content--11nFIBL')# return list of all the product listed
for i in all_product:
    try:
        dic['Bag_name'].append(i.find('h3',class_='multi--titleText--nXeOvyr').text)
    except:
        dic['Bag_name'].append(np.nan)
    try:
        dic['Bag_price'].append(i.find('div',class_='multi--price-sale--U-S0jtj').text)

    except:
        dic['Bag_price'].append(np.nan)
    try:
        dic['Bag_old_price'].append(i.find('div', class_='multi--price-original--1zEQqOK').text)
    except:
        dic['Bag_old_price'].append(np.nan)
    try:
        dic['Dropped_price'].append(i.find('span', class_='tag--textStyle--3dc7wLU').text)
    except:
        dic['Dropped_price'].append(np.nan)
    try:
        dic['Number_of_people_bought'].append(i.find('span',class_='multi--trade--Ktbl2jB').text)
    except:
        dic['Number_of_people_bought'].append(np.nan)
        
info=pd.DataFrame(dic)
info

,Bag_name,Bag_price,Bag_old_price,Dropped_price,Number_of_people_bought
0,Women's Luxury Shoulder Bag Classic Color Bloc...,"NGN26,549.72","NGN26,549.72","Drops to NGN25,803.17",5 sold
1,Fashion new women's bag shoulder bag small fre...,"NGN12,248.06","NGN25,391.99","Drops to NGN12,188.34",NaN
2,2024 New Trendy Women's Crossbody Bag Fashiona...,"NGN19,128.82","NGN38,257.63","Drops to NGN15,303.05",1 sold
3,al yoga Fitness handbag cross-border dry and w...,"NGN49,669.89","NGN49,669.89",Extra 5% off with coins,10 sold
4,Shoulder Bag for Women Multi Pocket Retro Hand...,"NGN20,522.17","NGN20,522.17","Free shipping over NGN16,279.84",NaN
5,Large Capacity Tote Bag Crossbody Solid Color ...,"NGN8,074.8",,Extra 5% off with coins,1 sold
6,2024 New Ladies Fashion Handbag Mini Crossbody...,"NGN7,716.65","NGN15,433.29","Drops to NGN6,170.06",NaN
7,Minimally designed single shoulder crossbody b...,"NGN75,757.9",,"Early bird deal, only 400 left",NaN
8,Mini Straw Bucket Crossbody bag For Women 2021...,"NGN18,199.81","NGN36,744.19","Drops to NGN18,004.56",NaN
9,Women Corduroy Tote Handbag Zipper Vintage Tot...,"NGN11,428.45","NGN11,428.45","Free shipping over NGN16,279.84",2 sold

In [80]:
page=1
dic = {'Bag_name':[], 'Bag_price':[], 'Bag_old_price':[], 'Dropped_price':[],'Number_of_people_bought':[]}
while page <=20:
    url= f'https://www.aliexpress.com/w/wholesale-handbag.html?page=60&g=y&SearchText=handbag'
    response = driver.get(url)
    html= driver.page_source
    sp=bs(html)
    all_product= sp.findAll('div',class_='multi--content--11nFIBL')# return list of all the product listed
    for i in all_product:
        try:
            dic['Bag_name'].append(i.find('h3',class_='multi--titleText--nXeOvyr').text)
        except:
            dic['Bag_name'].append(np.nan)
        try:
            dic['Bag_price'].append(i.find('div',class_='multi--price-sale--U-S0jtj').text)

        except:
            dic['Bag_price'].append(np.nan)
        try:
            dic['Bag_old_price'].append(i.find('div', class_='multi--price-original--1zEQqOK').text)
        except:
            dic['Bag_old_price'].append(np.nan)
        try:
            dic['Dropped_price'].append(i.find('span', class_='tag--textStyle--3dc7wLU').text)
        except:
            dic['Dropped_price'].append(np.nan)
        try:
            dic['Number_of_people_bought'].append(i.find('span',class_='multi--trade--Ktbl2jB').text)
        except:
            dic['Number_of_people_bought'].append(np.nan)
        
    page+=1
        
info=pd.DataFrame(dic)
info

,Bag_name,Bag_price,Bag_old_price,Dropped_price,Number_of_people_bought
0,2024 Classic Tote Bag Folding Designer Fashio...,"NGN35,563.48","NGN79,031.24",Extra 1% off with coins,91 sold
1,Boggs Beach Bag Summer EVA Beach Basket Women ...,"NGN30,213.57",,"Save NGN1,672.28","1,000+ sold"
2,All-Match Women Shoulder Bag Solid Fashion Han...,"NGN27,229.65",,NaN,900+ sold
3,Vintage Saddle Crossbody Bag PU Leather Women'...,"NGN11,379.61","NGN29,515.26","Drops to NGN13,281.75","1,000+ sold"
4,Fashion Mini Puffer Tote Bag Quilted Circle Ph...,"NGN8,104.12","NGN18,006.86",Extra 1% off with coins,"1,000+ sold"
...,...,...,...,...,...
195,2022 New Women's Fashion Handbags Retro Solid ...,"NGN6,211.32","NGN6,211.32","Drops to NGN6,036.74","2,000+ sold"
196,SAVETTE Brand The Symmetry 19 Genuine Leather ...,"NGN128,636.81",,"Drops to NGN120,918.61",59 sold
197,Small Square Fashionable Classic Versatile Wom...,"NGN22,075.47","NGN44,150.93",Extra 2% off with coins,26 sold
198,Cat Knit Handbag Fashion Knit Handmade Shoppin...,"NGN7,667.81","NGN7,667.81",Extra 2% off with coins,500+ sold
199,Nylon Shoulder Bag Chest Bag For Men Outdoor C...,"NGN1,448.91",,NaN,60 sold

In [81]:
info.to_csv('Aliexpress.csv',index=False)

## webscrapping using response

In [124]:
url= 'https://www.jumia.com.ng/catalog/?q=books'
response = requests.get(url)

In [125]:
html_content = response.content

In [126]:
soup = bs(html_content)

In [127]:
single_book= soup.find('div', class_='info')
single_book

<div class="info"><h3 class="name">Bookmart Rich Dad Poor Dad.</h3><div class="prc">₦ 5,850</div><div class="s-prc-w"><div class="old">₦ 10,000</div><div class="bdg _dsct _sm">42%</div></div><div class="rev"><div class="stars _s">5 out of 5<div class="in" style="width:100%"></div></div>(2)</div></div>

In [128]:
name=single_book.find('h3',class_='name').text
name

'Bookmart Rich Dad Poor Dad.'

In [129]:
price=single_book.find('div',class_='prc').text
price

'₦ 5,850'

In [130]:
old_price=single_book.find('div',class_='old').text
old_price

'₦ 10,000'

In [52]:
discount=single_book.find('div',class_='bdg _dsct _sm').text
discount

'42%'

In [55]:
rating=single_book.find('div',class_='rev').text.split()[0]
rating

'5'

In [65]:
dic={'Books_name':[], 'Books_price':[], 'Books_old_price':[],'Discount_given':[],'rating':[]}
dic['Books_name'].append(name)
dic['Books_price'].append(price)
dic['Books_old_price'].append(old_price)
dic['Discount_given'].append(discount)
dic['rating'].append(rating)
assign=pd.DataFrame(dic,index=[0])
assign

,Books_name,Books_price,Books_old_price,Discount_given,rating
0,Bookmart Rich Dad Poor Dad.,"₦ 5,850","₦ 10,000",42%,5

In [70]:
dic = {'Books_name':[], 'Books_price':[], 'Books_old_price':[], 'Discount_given':[],
      'rating':[]}
all_product= soup.findAll('div', class_= 'info') # return list of all the product listed
for i in all_product:
    try:
        dic['Books_name'].append(i.find('h3',class_='name'). text)
    except:
        dic['Books_name'].append(np.nan)
    try:
        dic['Books_price'].append(i.find('div',class_='prc').text)
    except:
        dic['Books_price'].append(np.nan)
    try:
        dic['Books_old_price'].append(i.find('div', class_= 'prc'). text)
    except:
        dic['Books_old_price'].append(np.nan)
    try:
        dic['Discount_given'].append(i.find('div',class_='bdg _dsct _sm'). text)
    except:
        dic['Discount_given'].append(np.nan)
    try:
        dic['rating'].append(i.find('div',class_='rev').text.split()[0])
    except:
        dic['rating'].append(np.nan)
   
    
        

        
        
assign=pd.DataFrame(dic)
assign

,Books_name,Books_price,Books_old_price,Discount_given,rating
0,Bookmart Rich Dad Poor Dad.,"₦ 5,850","₦ 5,850",42%,5
1,Bookmart The Art Of War By Sun Tzu,"₦ 5,900","₦ 5,900",46%,1
2,Bookmart The 48 Laws Of Power: Magnified Edition,"₦ 11,950","₦ 11,950",46%,5
3,Bookmart Secrets of the Millionaire Mind: Mast...,"₦ 10,500","₦ 10,500",48%,NaN
4,Bookmart The Mafia Manager: A Guide To The Cor...,"₦ 6,700","₦ 6,700",44%,NaN
5,Bookmart The Secret: Unlocking The Power Of Th...,"₦ 9,999","₦ 9,999",47%,5
6,Bookmart The Art Of Seduction,"₦ 9,600","₦ 9,600",49%,NaN
7,Bookmart Think And Grow Rich,"₦ 9,300","₦ 9,300",48%,4
8,Bookmart The Purpose Driven Life: What On Eart...,"₦ 9,990","₦ 9,990",45%,NaN
9,Motorcycle Rear Luggage Rack Box Bracket Easy ...,"₦ 61,234","₦ 61,234",29%,NaN
10,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 63,504","₦ 63,504",22%,NaN
11,COLOURING BOOK FRUIT SERIES,"₦ 3,250","₦ 3,250",7%,NaN
12,"Grace, a story of hope","₦ 4,200","₦ 4,200",7%,NaN
13,Hardcover World Classics Childhood Resurrectio...,"₦ 31,050 - ₦ 32,400","₦ 31,050 - ₦ 32,400",18%,NaN
14,How the Steel Is the Famous Person Spread the ...,"₦ 36,450","₦ 36,450",16%,NaN
15,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 52,340 - ₦ 62,127","₦ 52,340 - ₦ 62,127",23%,NaN
16,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 35,262 - ₦ 74,097","₦ 35,262 - ₦ 74,097",23%,NaN
17,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 64,260","₦ 64,260",28%,NaN
18,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 75,587","₦ 75,587",22%,NaN
19,Motorcycle Rear Luggage Rack Box Bracket Easy ...,"₦ 93,520","₦ 93,520",40%,NaN
20,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 22,524","₦ 22,524",42%,NaN
21,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 67,169","₦ 67,169",21%,NaN
22,COLOURING FRUIT SERIES FOR CHILDREN,"₦ 3,000","₦ 3,000",14%,NaN
23,"Bamboo Wooden Book Stand, Adjustable Book Hold...","₦ 42,228","₦ 42,228",50%,NaN
24,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 23,136","₦ 23,136",42%,NaN
25,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 58,941","₦ 58,941",23%,NaN
26,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 23,520","₦ 23,520",42%,NaN
27,Acrylic Bookends Space Saving Book Stand For B...,"₦ 11,642","₦ 11,642",33%,NaN
28,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 60,744","₦ 60,744",23%,NaN
29,HARD COVER NOTE BOOK 100 SHEETS SHORT SIZE,"₦ 2,200","₦ 2,200",NaN,NaN
30,"Bamboo Wooden Book Stand, Adjustable Book Hold...","₦ 40,000","₦ 40,000",49%,NaN
31,In Stock Felt Sundries Storage Basket Books Un...,"₦ 32,400","₦ 32,400",17%,NaN
32,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 88,840","₦ 88,840",20%,NaN
33,HARD COVER NOTE BOOK 300 SHEETS LONG,"₦ 4,500","₦ 4,500",NaN,NaN
34,Book Stand Hold,"₦ 57,515","₦ 57,515",19%,NaN
35,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 23,409","₦ 23,409",38%,NaN
36,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 22,288","₦ 22,288",42%,NaN
37,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 52,340 - ₦ 80,352","₦ 52,340 - ₦ 80,352",23%,NaN
38,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 21,984","₦ 21,984",40%,NaN
39,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 27,696","₦ 27,696",38%,NaN

In [73]:
page=1
dic = {'Books_name':[], 'Books_price':[], 'Books_old_price':[], 'Discount_given':[],
      'rating':[]}
while page<=50:
    url=f'https://www.jumia.com.ng/catalog/?q=books&page=50#catalog-listing'
    response = requests.get(url)
    html_content = response.content
    soup = bs(html_content)
    all_books= soup.findAll('div', class_= 'info') # return list of all the product listed
    for i in all_product:
        try:
            dic['Books_name'].append(i.find('h3',class_='name'). text)
        except:
            dic['Books_name'].append(np.nan)
        try:
            dic['Books_price'].append(i.find('div',class_='prc').text)
        except:
            dic['Books_price'].append(np.nan)
        try:
            dic['Books_old_price'].append(i.find('div', class_= 'prc'). text)
        except:
            dic['Books_old_price'].append(np.nan)
        try:
            dic['Discount_given'].append(i.find('div',class_='bdg _dsct _sm'). text)
        except:
            dic['Discount_given'].append(np.nan)
        try:
            dic['rating'].append(i.find('div',class_='rev').text.split()[0])
        except:
            dic['rating'].append(np.nan)
    page+=1
    
assign=pd.DataFrame(dic)
assign

,Books_name,Books_price,Books_old_price,Discount_given,rating
0,Bookmart Rich Dad Poor Dad.,"₦ 5,850","₦ 5,850",42%,5
1,Bookmart The Art Of War By Sun Tzu,"₦ 5,900","₦ 5,900",46%,1
2,Bookmart The 48 Laws Of Power: Magnified Edition,"₦ 11,950","₦ 11,950",46%,5
3,Bookmart Secrets of the Millionaire Mind: Mast...,"₦ 10,500","₦ 10,500",48%,NaN
4,Bookmart The Mafia Manager: A Guide To The Cor...,"₦ 6,700","₦ 6,700",44%,NaN
...,...,...,...,...,...
1995,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 23,409","₦ 23,409",38%,NaN
1996,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 22,288","₦ 22,288",42%,NaN
1997,Portable Sturdy Lightweight Bookstand Textbook...,"₦ 52,340 - ₦ 80,352","₦ 52,340 - ₦ 80,352",23%,NaN
1998,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 21,984","₦ 21,984",40%,NaN
1999,2 Pcs Early Education Tail Cloth Book Baby Bat...,"₦ 27,696","₦ 27,696",38%,NaN

In [74]:
assign.to_csv('Assignment.csv',index=False)